{% if loop.last and question.additionalInfoEnabled %}
    <div>
        <br>
    </div>
    {% if question.additionalInfoLabel %}
        <div>
            <span class="ons-u-fs-r--b">Additional information label: </span>
            {{ question.additionalInfoLabel }}
        </div>
    {% endif %}
    {% if question.additionalInfoContent %}
        <div >
            <div class="ons-u-fs-r--b"><em>Additional information content:</em></div> 
            {{ question.additionalInfoContent | safe }}
        </div>
    {% endif %}
{% endif %}