<div id={{ answer.id }}>
    {% if answer.label %}
        <div>
            <span class="ons-u-fs-r--b">Answer label: </span>
            {{ answer.label | parseQuestionText | safe }}
        </div>
    {% endif %}
    {% if answer.qCode or answer.q_code %}
        <div>
            <span class="ons-u-fs-r--b">Q-Code: </span>
            {{ answer.qCode }}{{ answer.q_code }}
        </div>
    {% endif %}
    <div>
        <span class="ons-u-fs-r--b">Type: </span>
        {{ answer.type }}
    </div>
    {% if answer.unit or answer.properties.unit %}
        <div>
            <span class="ons-u-fs-r--b">Unit: </span>
            {{ answer.unit }}{{ answer.properties.unit }}
        </div>
    {% endif %}
    {% if answer.properties.format %}
        <div>
            <span class="ons-u-fs-r--b">Format: </span>
            {{ answer.properties.format }}
        </div>
    {% endif %}
    {% if answer.options %}
        <div>
            <span class="ons-u-fs-r--b">Answer options (Q-Code):</span>
        </div>
        <div>
            <ul>
            {%for option in answer.options %} 
                {% if not option.mutuallyExclusive %} 
                    {% include "option.html" %}
                {% endif %}
            {% endfor %}
            </ul>
            {%for option in answer.options %} 
                {% if option.mutuallyExclusive %} 
                    <div class="ons-u-fs-r--b">Mutually exclusive option:</div>
                    <ul>
                    {% include "option.html" %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% include "additional-info.html" %}
</div>