<div class="summary__item summary__item--multiple">
    <div class="grid ">
        <div class="grid__col col-12@xs col-12@m">
            <div class="mars"><em>Answer Label: </em> {{ answer.label }}</div>
        </div>
        <div class="grid__col col-12@xs col-12@m">
            <div class="mars"><em>Q-Code: </em> {{ answer.qCode }}{{ answer.q_code }}</div>
        </div>
        <div class="grid__col col-12@xs col-12@m">
            <div class="mars"><em>Type: </em> {{ answer.type }}</div>
        </div>
        {% if answer.options %}
            <div class="grid__col col-12@xs col-12@m">
                <div class="mars"><em>Options(Q-Code):</em></div>
            </div>
            <div class="grid__col col-12@xs col-12@m">
            {%for option in answer.options %}
                <ul>
                    <li class="mars">{{ option.label }}
                        {% if option.qCode or option.q_code%}
                        ({{ option.qCode }}{{ option.q_code }})
                        {% endif %}
                    </li>
                </ul>
                {% endfor %}
                </div>
        {% endif %}
    </div>
</div>