<div class="summary__item summary__item--multiple">
    <div class="grid">
        <div class="grid__col col-12@xs col-12@m">
            <div class="mars"><em>Answer Label: </em> {{ answer.label }}</div>
        </div>
        <div class="grid__col col-12@xs col-12@m">
            <div class="mars"><em>Q-Code: </em> {{ answer.qCode }}{{ answer.q_code }}</div>
        </div>
        <div class="grid__col col-12@xs col-12@m">
            <div class="mars"><em>Type: </em> {{ answer.type }}</div>
        </div>
    </div>
</div>
{% if answer.secondaryLabel %}
    <div class="summary__item summary__item--multiple">
        <div class="grid">
            <div class="grid__col col-12@xs col-12@m">
                <div class="mars"><em>Answer Label: </em> {{ answer.secondaryLabel }}</div>
            </div>
            <div class="grid__col col-12@xs col-12@m">
                <div class="mars"><em>Q-Code: </em> {{ answer.secondaryQCode }}</div>
            </div>
            <div class="grid__col col-12@xs col-12@m">
                <div class="mars"><em>Type: </em> {{ answer.type }}</div>
            </div>
        </div>
    </div>
{% endif %}