<div id={{ answer.id }}>
    <div>
        <span class="ons-u-fs-r--b">Answer Label: </span>
        {{ answer.label }}
    </div>
    <div>
        <span class="ons-u-fs-r--b">Q-Code: </span>
        {{ answer.qCode }}{{ answer.q_code }}
    </div>
    <div>
        <span class="ons-u-fs-r--b">Type: </span>
        {{ answer.type }}
    </div>
</div>
{% if answer.secondaryLabel %}
    <div>
        <span class="ons-u-fs-r--b">Answer Label: </span>
        {{ answer.secondaryLabel }}
    </div>
    <div>
        <span class="ons-u-fs-r--b">Q-Code: </span>
        {{ answer.secondaryQCode }}
    </div>
    <div>
        <span class="ons-u-fs-r--b">Type: </span>
        {{ answer.type }}
    </div>
{% endif %}
{% include "additional-info.html" %}