{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="grid">
        <div class="grid__col col-12@m">
            <table class="table">
                <thead class="table--head">
                <th class="table--header--cell">Shortcode</th>
                <th class="table--header--cell">Question Title</th>
                <th class="table--header--cell">Answers Type</th>
                <th class="table--header--cell">Answers Label</th>
                <th class="table--header--cell">Qcode</th>
                <th class="table--header--cell">Options Label</th>
                </thead>
                <tbody>
                    {% include "question-loop.html" %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

