<!DOCTYPE html>
<html lang="en">

<!-- CSS file taken from https://cdn.ons.gov.uk/sdc/v2.0.0/css/responsive.css -->
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>EQ Extract Questions</title>
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
    {% endblock %}

</head>

<body>
  {% block header %}
      <header class="header header--internal header--thin">
      <div class="header__top" role="banner">
        <div class="container">
          <div
            class="header__grid-top grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap"
          >
            <div class="grid__col col-auto">
              <a class="header__logo-link" href="#">
                <img
                  class="header__logo"
                  src="img/ons-logo-white.svg"
                  alt="Office for National Statistics logo"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__main">
        <div class="container">
          <div
            class="grid grid--gutterless grid--flex grid--between grid--vertical-center grid--no-wrap"
          >
            <div class="grid__col col-auto u-flex-shrink">
              <div class="header__title">{{ title }}</div>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% endblock %}


 {% block body %}
 {% endblock %}
 
</body>

</html>