{%for expression in expressionGroup.expressions %}
    {% if loop.first %}
        <span class="ons-u-fs-r--b">If </span>
    {% else %}
        {% if (expressionGroup.operator === "And") %}
            <span class="ons-u-fs-r--b">and if </span>
        {% else %}
            <span class="ons-u-fs-r--b">or if </span>
        {% endif %}
    {% endif %}
    {% if expression.left.answerId %}
        <a href="#{{ expression.left.answerId }}">Answer</a>
    {% endif %}
    <span class="ons-u-fs-r--b"> {{ expression.condition }}</span>
    {% if expression.right.customValue %}
        {{ expression.right.customValue.number }}
    {% endif %}
    {% if expression.right.optionIds %}
        {%for option in expression.right.optionIds %}
            <ul>
                {% if optionLabels[option] %}
                <li class="list__item">
                    {{ optionLabels[option] }}
                </li>
                {% else %}
                <li class="list__item">
                    Not found
                </li>
                {% endif %}
            </ul>
        {% endfor %}
    {% endif %}
{% endfor %}