{% extends "base.html" %}

 {% block body %}
    <div class="container">
        <div class="grid">
            <div class="grid__col col-6@m">
                <form method="POST" enctype="application/x-www-form-urlencoded" id="author-qid-form">
                    <div class="field">
                        <label class="label u-fs-r--b">Enter author questionnaire id: </label>
                        <input class="input" type="text" name="author_qid" required />
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="grid">
            <div class="grid__col col-6@m">
                <div class="btn-group">
                    <button  type="submit" class="btn btn--small" form="author-qid-form" formaction="/author/url">View questionnaire</button>
                    <button  type="submit" class="btn btn--small" form="author-qid-form" formaction="/author/table">Question table</button>
                </div>
            </div>
        </div>
        <br>
        <div class="grid">
            <div class="grid__col col-6@m">
                <form method="POST" enctype="application/x-www-form-urlencoded" id="runner-qid-form">
                    <div class="field">
                        <label class="label u-fs-r--b">Enter runner questionnaire id: </label>
                        <input class="input" type="text" name="runner_qid" required />
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="grid">
            <div class="grid__col col-6@m">
                <div class="btn-group">
                    <button  type="submit" class="btn btn--small" form="runner-qid-form" formaction="/runner/url">View questionnaire</button>
                    <button  type="submit" class="btn btn--small" form="runner-qid-form" formaction="/runner/table">Question table</button>
                </div>
            </div>
        </div>
        <br>
        <div class="grid">
            <div class="grid__col col-6@m">
                <form method="POST" action="/runner-upload" enctype="multipart/form-data" id="runner-form">
                    <div class="field">
                        <label class="label u-fs-r--b">Select runner json file: </label>
                        <input class="input" type="file" name="jsonFile" required />
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="grid">
            <div class="grid__col col-6@m">
                <div class="btn-group">
                    <button  type="submit" class="btn btn--small" form="runner-form" formaction="/runner/upload">View questionnaire</button>
                    <button  type="submit" class="btn btn--small" form="runner-form" formaction="/runner/upload-table">Question table</button>
                </div>
            </div>
        </div>
    </div>
 {% endblock %}