{% extends "base.html" %}

 {% block body %}
    <div class="container">
        <div class="grid">
            <div class="grid__col col-6@m">
                <form method="POST" enctype="multipart/form-data" id="upload-form">
                    <div class="field">
                        <label class="label venus">Select questionnaire json file: </label>
                        <input class="input" type="file" name="jsonFile" required />
                    </div>
                </form>
            </div>
        </div>
        <br>
        <div class="grid">
            <div class="grid__col col-6@m">
                <button  type="submit" class="btn" form="upload-form">View results</button>
            </div>
        </div>
    </div>
 {% endblock %}