<li class="list__item">
    <div>
        {{ option.label }}
        {% if option.qCode or option.q_code %}
            ({{ option.qCode }}{{ option.q_code }})
        {% endif %}
    </div>
    {% if option.description %}
        <div class="ons-u-fs-s">
            <span class="ons-u-fs-s--b">Description: </span>
            {{ option.description }}
        </div>
    {% endif %}
    {% if option.additionalAnswer.label %}
        <div class="ons-u-fs-s">
            <span class="ons-u-fs-s--b">Other label: </span>
            {{ option.additionalAnswer.label }}
        </div>
    {% endif %}
    {% if option.detail_answer.label %}
        <div class="ons-u-fs-s">
            <span class="ons-u-fs-s--b">Other label: </span>
            {{ option.detail_answer.label }}
        </div>
    {% endif %}
</li>