{% extends "base.html" %}

{% block body %}

<div class="ons-page__container ons-container">
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-8@">
            <main id="main-content" class="ons-page__main">
                <div>
                    <a href="/table?qid={{ qid }}" class="ons-btn print__hidden" >
                        <span class="ons-btn__inner">Table view</span>
                    </a>
                    <a href="/" class="ons-btn print__hidden" >
                        <span class="ons-btn__inner">Enter questionnaire ID</span>
                    </a>
                </div>
                <br>
                {%for section in sections %} 
                    {% include "section.html" %}
                {% endfor %}
            </main>
        </div>
    </div>
</div>
{% endblock %}

