{%for question in questions %}	
    {% if loop.first %}	
    <table class="table">	
        <thead class="table--head">	
        {% if question.alias %}	
            <th class="table--header--cell">Shortcode</th>	
        {% endif %}	
        <th class="table--header--cell">Question Title</th>	
        <th class="table--header--cell">Qcode</th>	
        <th class="table--header--cell">Answers Type</th>	
        <th class="table--header--cell">Answers Label</th>	
        <th class="table--header--cell">Options Label</th>	
        </thead>	
        <tbody>	
    {% endif %}	
    {%for answer in question.answers %}	
        {% if loop.first %}	
            {% if answer.options %}	
                {%for option in answer.options %}	
                    {% if loop.first %}	
                        {% include "table-row-option-first.html" %}	
                    {% else %}	
                        {% include "table-row-option.html" %}	
                    {% endif %}	
                {% endfor %}	
            {% else %}	
                {% include "table-row-no_option-first.html" %}	
            {% endif %}	
        {% else %}	
            {% if answer.options %}	
                {%for option in answer.options %}	
                    {% include "table-row-option.html" %}	
                {% endfor %}	
            {% else %}	
                {% include "table-row-no_option.html" %}	
            {% endif %}                        	
        {% endif %}	
    {% endfor %}	
{% endfor %}	
</tbody>	
</table> 