<div class="ons-panel ons-panel--info">
    <div class="ons-panel__header">
        <h2 class="ons-panel__title ons-u-fs-r--b">{{ question.confirmation.title | parseQuestionText | safe  }}</h2> 
    </div>
    <div class="ons-panel__body">
        <div>
            <span class="u-fs-r--b">Question type: </span>Confirmation Question
        </div> 
        <div class="u-fs-r-b"><em>Answers:</em></div>
            {% if question.confirmation.qCode %}
                <div>
                    <span class="u-fs-r--b">Q-Code: </span>{{ question.confirmation.qCode }}
                </div>
            {% endif %}
            <div>
                <span class="u-fs-r--b">Type: </span>Radio
            </div>
            <div class="ons-u-fs-r--b">Options:</div>
            <div>
                <ul class="list__item">
                    <li>{{ question.confirmation.positive.label }}</li>
                    <li>{{ question.confirmation.negative.label }}</li>
                </ul>
            </div>
        {% if (question.confirmation.skipConditions) %}
            <div class="ons-u-fs-r-b">Skip this question:</div>
            {% set skipConditions = question.confirmation.skipConditions %}
            {% include "skip.html" %}
        {% endif %}
    </div>     
</div>
<br>