{%for question in questions %} 
    <div class="panel panel--info">
        <div class="panel__header">
            <em class="mars">{{ question.title | parseQuestionText | safe  }}</em> 
        </div>
        <div class="panel__body">
            <div class="summary">
                {% if question.alias %}
                    <div>
                        <span class="mars"><em>Shortcode: </em>{{ question.alias }}</span> 
                    </div>
                {% endif %}
                <div class="mars"><em>Answers:</em></div>
                <div>
                    {%for answer in question.answers %}
                        {% if answer.type == 'DateRange' %}
                            {% include "answer-daterange.html" %}
                        {% else %}
                            {% include "answer-general.html" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>     
    </div>
    <br>
{% endfor %}
