
{% if question.alias %}
    <div>
        <span class="ons-u-fs-r--b">Shortcode: </span>
        <span>{{ question.alias }}</span>
    </div> 
{% endif %}
{% if question.pageType %}
    <div>
        <span class="ons-u-fs-r--b">Question type: </span>
        <span class="ons-u-fs-r">{{ question.pageType }}</span>
    </div> 
{% endif %}
{% if question.type %}
    <div>
        <span class="ons-u-fs-r--b">Question type: </span>
        <span class="ons-u-fs-r">{{ question.type }}</span>
    </div> 
{% endif %}
{% if (question.description and question.descriptionEnabled === undefined) or question.descriptionEnabled %}
    <div>
        <span class="ons-u-fs-r--b">Description: </span>
        <span class="ons-u-fs-r">{{ question.description | parseQuestionText | safe  }}</span>
    </div> 
{% endif %}

{% if question.definitionEnabled %}
    <div>
        <span class="ons-u-fs-r--b">Defintion label: </span>
        <span class="ons-u-fs-r">{{ question.definitionLabel  | parseQuestionText | safe }}</span>
    </div> 
    <div class="ons-u-fs-r--b">Defintion content: </div> 
    <div class="ons-u-fs-r">{{ question.definitionContent  | parseQuestionText | safe }}</div> 
{% endif %}    

{% if question.definitions %}
    {% for definition in question.definitions %}
        <div>
            <span class="ons-u-fs-r--b">Defintion label: </span>
            <span class="ons-u-fs-r">{{ definition.title | safe }}</span>
        </div> 
        <div class="ons-u-fs-r--b">Defintion content: </div>
        {% for content in definition.content %}
            {% include "content.html" %}
        {% endfor %}
    {% endfor %}    
{% endif %}

{% if question.guidance and question.guidance | is_string %}
    <div class="ons-u-fs-r--b">Guidance: </div> 
    <div class="ons-panel ons-panel--info ons-panel--no-title">
        <div class="ons-panel__body">
            <div class="u-fs-r">{{ question.guidance  | parseQuestionText | safe }}</div> 
        </div>
    </div>
    <br>
{% endif %}

{% if question.guidance.content %}
    <div>
        <div class="ons-u-fs-r--b">Guidance: </div> 
        <div class="ons-panel ons-panel--info ons-panel--no-title">
            <div class="ons-panel__body">
                {% for content in question.guidance.content %}  
                    {% include "content.html" %}
                {% endfor %}
            </div>
        </div> 
    </div>
    <br>
{% endif %}


