<div id={{ question.id }} class="ons-panel ons-panel--info">
    <div class="ons-panel__header">
        <h2 class="ons-panel__title ons-u-fs-r--b">{{ question.title | parseQuestionText | safe  }}</h2>
    </div>
    <div class="ons-panel__body">
        {% include "question-fields.html" %}
        {% if question.answers %}
            <div class="ons-u-fs-r--b ons-summary__item">Answers:</div>
            <div class="item-detail">
                {%for answer in question.answers %}
                    {% if answer.type == 'DateRange' %}
                        {% include "answer-daterange.html" %}
                    {% else %}
                        {% include "answer-general.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% include "routing.html" %}
        {% if (question.skipConditions) or (folder.skipConditions) %}
            <br>
            <div class="ons-u-fs-r--b ons-summary__item">Skip this question:</div>
            <div class="item-detail">
                {% set skipConditions = question.skipConditions %}
                {% include "skip.html" %}
                {% set skipConditions = folder.skipConditions %}
                {% include "skip.html" %}
            </div>
        {% endif %}
    </div>     
</div>
<br>
{% if question.confirmation %}
    {% include "question-confirmation.html" %}
{% endif %}

