<div id={{ section.id }} class="ons-panel ons-panel--success">
    <div class="ons-panel__header">
        <h2 class="ons-panel__title ons-u-fs-r--b">Section - {{ section.title | parseQuestionText | safe  }}</h2>
    </div>
    <div class="ons-panel__body">
        <div>
            <span class="ons-u-fs-r--b">Introduction Title: </span>
            {{ section.introductionTitle | parseQuestionText | safe }} 
        </div>
        <div>
            <span class="ons-u-fs-r--b">Introduction content: </span>
            {{ section.introductionContent | parseQuestionText | safe }} 
        </div>
        {% if section.displayConditions %}
            <br>
            <div class="ons-u-fs-r--b ons-summary__item">Display this section:</div>
            <div class="item-detail">
                {% set expressionGroups = section.displayConditions %}
                {% include "expressionGroups.html" %}
            </div>
        {% endif %}
    </div>     
</div>
<br>
{%for folder in section.folders %} 
    {%for question in folder.pages %} 
        {% include "question.html" %}
    {% endfor %}
{% endfor %}
