{%for question in questions %}	
    {% if loop.first %}	
    <table class="ons-table">	
        <thead class="ons-table__head">	
        <th class="ons-table__header">Shortcode</th>	
        <th class="ons-table__header">Question Title</th>	
        <th class="ons-table__header">Qcode</th>	
        <th class="ons-table__header">Answers Type</th>	
        <th class="ons-table__header">Answers Label</th>	
        <th class="ons-table__header">Options Label</th>	
        </thead>	
        <tbody class="ons-table__body">	
    {% endif %}	
    {%for answer in question.answers %}	
        {% if loop.first %}	
            {% if answer.options %}	
                {%for option in answer.options %}	
                    {% if loop.first %}	
                        {% include "table-row-option-first.html" %}	
                    {% else %}	
                        {% include "table-row-option.html" %}	
                    {% endif %}	
                {% endfor %}	
            {% else %}	
                {% include "table-row-no_option-first.html" %}	
            {% endif %}	
        {% else %}	
            {% if answer.options %}	
                {%for option in answer.options %}	
                    {% include "table-row-option.html" %}	
                {% endfor %}	
            {% else %}	
                {% include "table-row-no_option.html" %}	
            {% endif %}                        	
        {% endif %}	
    {% endfor %}	
{% endfor %}	
</tbody>	
</table> 