<tr class="table--row">	
    {% if question.alias %}	
        <td class="table--cell">	
            {{ question.alias }}	
        </td>	
    {% endif %}	
    <td class="table--cell">	
        {{ question.title | parseQuestionText | safe  }}	
    </td>	
    <td class="table--cell">	
        {% if option.qCode or option.q_code %}	
            {{ option.qCode }}{{ option.q_code }}	
        {% else %}  	
            {{ answer.qCode }}{{ answer.q_code }} 	
        {% endif %}	
    </td>	
    <td class="table--cell">	
        {{ answer.type }}	
    </td>	
    <td class="table--cell">	
        {{ answer.label }}	
    </td>	
    <td class="table--cell">	
        {{ option.label }}	
    </td>	
</tr> 