li {
    margin-bottom: 0px;
}
ul {
    margin-bottom: 0px;
}

.item-detail {
    padding-left: 1rem;
}

.ons-panel__title.ons-u-fs-r--b>em {
        color: #000;
}

@media print {
    .ons-panel__header {
      color: #000;
      border: 1px solid;
    }
    .ons-btn {
        display: none;
    }
 }